<!-- <div class="container"> -->
  <!-- Navbar -->
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Owkin</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li> -->
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
    <!-- Navbar -->


  </header>
  <!-- Jumbotron -->
  <div class="p-5 text-center bg-body-tertiary mb-4 border-bottom">
    <h1 class="mb-3">Data Curation Dashboard</h1>
    <h4 class="mb-3">Owkin Test</h4>
    <!-- <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Call to action</a> -->
  </div>
  <!-- Jumbotron -->
<!-- </div> -->
